In [1]:
pip install pandas selenium mysql-connector-python sqlalchemy streamlit

Requirement already satisfied: pandas in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: selenium in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (4.25.0)
Requirement already satisfied: mysql-connector-python in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (9.1.0)
Requirement already satisfied: sqlalchemy in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (2.0.36)
Requirement already satisfied: streamlit in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (1.39.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.2.2)
Requirement already satisfied: trio~=0.17 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from selenium) (0.27.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from selenium) (2024.7.4)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: altair<6,>=4.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (5.4.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (1.8.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (5.5.0)
Requirement already satisfied: click<9,>=7.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: packaging<25,>=20 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (24.1)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (10.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (5.28.2)
Requirement already satisfied: pyarrow>=7.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (17.0.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (13.9.2)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (6.4.1)
Requirement already satisfied: watchdog<6,>=2.1.5 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (5.0.3)
Requirement already satisfied: jinja2 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.5.2 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from altair<6,>=4.0->streamlit) (1.9.4)
Requirement already satisfied: colorama in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: six>=1.5 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.27->streamlit) (3.7)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.18.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.17->selenium) (1.17.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.22)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.5)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.19.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sivakumar\appdata\local\programs\python\python312\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv(r'D:\redbus -REDBUS\02_big_data.csv')

In [6]:
df.head()

,state,route,link,busname,bustype,departing_time,duration,reaching_time,price,star_rating,seats_available
0,APSRTC,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3580,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),12:15,05h 45m,18:00,683.0,4.2,32 Seats available
1,APSRTC,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 9319,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",13:00,06h 20m,19:20,448.0,3.9,33 Seats available
2,APSRTC,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3576,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),13:15,06h 15m,19:30,720.0,4.1,34 Seats available
3,APSRTC,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 35154,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",13:40,06h 40m,20:20,469.0,3.5,33 Seats available
4,APSRTC,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 24291,INDRA(A.C. Seater),14:00,05h 00m,19:00,528.0,1.7,25 Seats available

In [7]:
df.describe()

             price  star_rating
count  5524.000000  5524.000000
mean    622.436197     3.454435
std     516.711219     0.923192
min      48.000000     1.000000
25%     376.000000     3.000000
50%     517.000000     3.500000
75%     736.000000     4.100000
max    8700.000000     5.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5524 entries, 0 to 5523
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            5524 non-null   object
 1   route            5524 non-null   object
 2   link             5524 non-null   object
 3   busname          5524 non-null   object
 4   bustype          5524 non-null   object
 5   departing_time   5524 non-null   object
 6   duration         5524 non-null   object
 7   reaching_time    5524 non-null   object
 8   price            5524 non-null   float64
 9   star_rating      5524 non-null   float64
 10  seats_available  5524 non-null   object
dtypes: float64(2), object(9)
memory usage: 474.8+ KB

In [9]:
df.isnull().sum()

state              0
route              0
link               0
busname            0
bustype            0
departing_time     0
duration           0
reaching_time      0
price              0
star_rating        0
seats_available    0
dtype: int64

In [10]:
df[df.duplicated(keep=False)]

,state,route,link,busname,bustype,departing_time,duration,reaching_time,price,star_rating,seats_available
2450,TSRTC Online Bus Ticket Booking,Hyderabad to Sathupally,https://www.redbus.in/bus-tickets/hyderabad-to...,Mahadevv travels,Non A/C Seater / Sleeper (2+1),22:00,05h 30m,03:30,499.0,3.2,31 Seats available
2461,TSRTC Online Bus Ticket Booking,Hyderabad to Sathupally,https://www.redbus.in/bus-tickets/hyderabad-to...,Mahadevv travels,Non A/C Seater / Sleeper (2+1),22:00,05h 30m,03:30,499.0,3.2,31 Seats available

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5523 entries, 0 to 5523
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            5523 non-null   object
 1   route            5523 non-null   object
 2   link             5523 non-null   object
 3   busname          5523 non-null   object
 4   bustype          5523 non-null   object
 5   departing_time   5523 non-null   object
 6   duration         5523 non-null   object
 7   reaching_time    5523 non-null   object
 8   price            5523 non-null   float64
 9   star_rating      5523 non-null   float64
 10  seats_available  5523 non-null   object
dtypes: float64(2), object(9)
memory usage: 517.8+ KB

In [13]:
df.head()

,state,route,link,busname,bustype,departing_time,duration,reaching_time,price,star_rating,seats_available
0,APSRTC,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3580,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),12:15,05h 45m,18:00,683.0,4.2,32 Seats available
1,APSRTC,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 9319,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",13:00,06h 20m,19:20,448.0,3.9,33 Seats available
2,APSRTC,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3576,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),13:15,06h 15m,19:30,720.0,4.1,34 Seats available
3,APSRTC,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 35154,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",13:40,06h 40m,20:20,469.0,3.5,33 Seats available
4,APSRTC,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 24291,INDRA(A.C. Seater),14:00,05h 00m,19:00,528.0,1.7,25 Seats available

In [14]:
df.rename(columns={'seats_available': 'seat_availablity'},inplace=True)

In [15]:
df.columns

Index(['state', 'route', 'link', 'busname', 'bustype', 'departing_time',
       'duration', 'reaching_time', 'price', 'star_rating',
       'seat_availablity'],
      dtype='object')

In [16]:
df['seat_availablity'] = df['seat_availablity'].str.extract(r'(\d+)').astype(int)

In [17]:
df

,state,route,link,busname,bustype,departing_time,duration,reaching_time,price,star_rating,seat_availablity
0,APSRTC,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3580,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),12:15,05h 45m,18:00,683.0,4.2,32
1,APSRTC,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 9319,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",13:00,06h 20m,19:20,448.0,3.9,33
2,APSRTC,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3576,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),13:15,06h 15m,19:30,720.0,4.1,34
3,APSRTC,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 35154,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",13:40,06h 40m,20:20,469.0,3.5,33
4,APSRTC,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 24291,INDRA(A.C. Seater),14:00,05h 00m,19:00,528.0,1.7,25
...,...,...,...,...,...,...,...,...,...,...,...
5519,WBTC (CTC),Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...,KRISHNAKALI,A/C Seater (2+3),14:45,02h 45m,17:30,165.0,2.4,59
5520,WBTC (CTC),Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...,Droupadi Bus Service,Non AC Seater (2+3),16:20,02h 50m,19:10,121.0,2.2,54
5521,WBTC (CTC),Midnapore to Kolkata Airport,https://www.redbus.in/bus-tickets/midnapore-to...,WBTC (CTC) Habra-Midnapur - 194|14:45,Non AC Seater (2+3),14:45,02h 55m,17:40,111.0,3.1,46
5522,WBTC (CTC),Midnapore to Kolkata Airport,https://www.redbus.in/bus-tickets/midnapore-to...,WBTC (CTC) Habra-Midnapur - 194|15:40,Non AC Seater (2+3),15:40,03h 00m,18:40,111.0,2.8,40
5523,WBTC (CTC),Midnapore to Kolkata Airport,https://www.redbus.in/bus-tickets/midnapore-to...,WBTC (CTC) Barasat-Midnapur - 208|17:00,Non AC Seater (2+3),17:00,02h 00m,19:00,111.0,3.0,41

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5523 entries, 0 to 5523
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             5523 non-null   object
 1   route             5523 non-null   object
 2   link              5523 non-null   object
 3   busname           5523 non-null   object
 4   bustype           5523 non-null   object
 5   departing_time    5523 non-null   object
 6   duration          5523 non-null   object
 7   reaching_time     5523 non-null   object
 8   price             5523 non-null   float64
 9   star_rating       5523 non-null   float64
 10  seat_availablity  5523 non-null   int64
dtypes: float64(2), int64(1), object(8)
memory usage: 517.8+ KB

In [21]:
df.to_csv(r'D:\redbus -REDBUS\03_cleaned_data.csv', index=False)