In [6]:
#import packages
from sqlalchemy import create_engine,text
from sqlalchemy import DECIMAL
import pandas as pd

#define variables
username = 'root'
password = ''
host = 'localhost'
port = '3306'
database = 'project_redbus'

In [7]:
# Step 1: Now connect to the newly created/existing database
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}')

In [8]:
# Step 2: Create the database if it doesn't exist
with engine.connect() as connection:
    database_query = f"CREATE DATABASE IF NOT EXISTS {database}"
    connection.execute(text(database_query))
    print(f"Database '{database}' created or already exists.")

Database 'project_redbus' created or already exists.

In [9]:
# Step 3: Now connect to the newly created/existing database
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')

In [10]:
# Step 4: Load cleaned datasets individually with specified encoding
cleaned_data_df = pd.read_csv(r'D:\redbus\03_cleaned_data.csv', encoding='ISO-8859-1')

In [11]:
# Step 5: Load each DataFrame to the SQL database
cleaned_data_df.to_sql('busdetail', con=engine, if_exists='replace', index=False)

5523

In [13]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM busdetail LIMIT 10;"))
    for row in result:
        print(row)

('APSRTC', 'Hyderabad to Vijayawada', 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada', 'APSRTC - 3580', 'AMARAVATHI (VOLVO / SCANIA A.C Multi Axle)', '12:15', '05h 45m', '18:00', 683.0, 4.2, 32)
('APSRTC', 'Hyderabad to Vijayawada', 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada', 'APSRTC - 9319', 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)', '13:00', '06h 20m', '19:20', 448.0, 3.9, 33)
('APSRTC', 'Hyderabad to Vijayawada', 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada', 'APSRTC - 3576', 'AMARAVATHI (VOLVO / SCANIA A.C Multi Axle)', '13:15', '06h 15m', '19:30', 720.0, 4.1, 34)
('APSRTC', 'Hyderabad to Vijayawada', 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada', 'APSRTC - 35154', 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)', '13:40', '06h 40m', '20:20', 469.0, 3.5, 33)
('APSRTC', 'Hyderabad to Vijayawada', 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada', 'APSRTC - 24291', 'INDRA(A.C. Seater)', '14:00', '05h 00m', '19:00', 528.0, 1.7, 25)
('APSRTC', 'Hyderabad to Vijayawada', 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada', 'TGSRTC - 9882', 'Lahari Non A/C Sleeper Cum Seater', '10:15', '06h 55m', '17:10', 442.0, 1.6, 41)
('APSRTC', 'Hyderabad to Vijayawada', 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada', 'TGSRTC - 14462', 'eGARUDA', '10:15', '04h 45m', '15:00', 533.0, 3.7, 32)
('APSRTC', 'Hyderabad to Vijayawada', 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada', 'TGSRTC - 16262', 'eGARUDA', '10:15', '06h 45m', '17:00', 533.0, 2.7, 30)
('APSRTC', 'Hyderabad to Vijayawada', 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada', 'TGSRTC - 41231', 'Super Luxury (Non AC Seater 2+2 Push Back)', '10:15', '04h 55m', '15:10', 440.0, 3.1, 31)
('APSRTC', 'Hyderabad to Vijayawada', 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada', 'TGSRTC - 14662', 'eGARUDA', '10:15', '05h 45m', '16:00', 533.0, 2.6, 35)

In [14]:
# Importing necessary libraries
import mysql.connector  # for direct MySQL connection (optional if using SQLAlchemy)
from sqlalchemy import create_engine  # for SQLAlchemy connection
import pandas as pd  # for working with dataframes
import streamlit as st  # for building the Streamlit application

# Example to use SQLAlchemy to connect to the database
def connect_to_db():
    # Example connection string with credentials (replace with actual values)
    connection_string = f"mysql+mysqlconnector://root:your_password@localhost:3306/project_redbus"
    engine = create_engine(connection_string)
    return engine